.Site {
    min-height: 100vh;
    flex-direction: column;
}

.main-content-section {
    flex: 1;
    min-height: 75vh;
    margin-bottom: 40px;
    margin-top: 10px;
}

body {
    background-color: #86bbd8;
}

.appBar {
    background-color: #33658a !important;
    padding-bottom: 20px;
    border-bottom: 8px solid #2f4858;
}

.header {
    color: white !important;
}

a {
    text-decoration: none;
}

.footer {
    background-color: #33658a !important;
    color: "white";
    border-top: 8px solid #2f4858;
}
